@import 'variables';
@import 'mixins';

.menu {
    &-result {
        @include default-button(47vw, 1.3em);
        background-color:$color-button;
        margin:0 auto;
        margin-bottom:2vh;
        display:inline-block;
    }
    &-result-wrap {
        display:inline-block;
    }
    &-text {
        padding-left:2vw;
        padding-right:2vw;
        border-right: 1px black solid;
    }
    &-text-last {
        padding-left:2vw;
        padding-right:2vw;
    }
    &-item {
        border-radius: 5px;
        border-color:white;
        background-color:$color-button;
    }
}

.five {
    width:3.5em;
}

.three {
    width:2.5em;
}