@import 'variables';
@import 'mixins';

.popup {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 25%;
    top: 20%;
    width: 50%; 
    height: 50%;
  }
  
  .innerpop {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 5%;
    border: 1px solid #888;
    width: 30%;
  }
  
  .x {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .deleteAccount {
      color: rgb(148, 72, 72);
      text-decoration-line: underline;
  }

.np-req {
    &-page {
        background-color: $color-input;
        width:100vw;
        height:100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &-logo {
        @include square-image(5vh);
        margin:auto;
        display:inline-block;
    }
    &-header {
        font-weight: 500;
        font-size:1.3em;
        margin-bottom:2vh;
    }
    &-subheader {
        font-weight: 500;
        margin:2vw;
        text-align: center;
    }
}

li{
    list-style-type: none;
}

.results {
    @include default-results;
}

.delete-item {
    @include item-style(10px);
}

.add-item {
    @include item-style(22px);
}

.header{
    &-div {
        width:100vw;
        margin: 0 auto;
        margin-bottom: 2vh;
    }
    font-size: 1.4em;
    font-weight: 200;
}

.all-rest-subheaders {
    width:40vw;
    margin: 0 auto;
}

.r {
    &-navigation {
        @include default-navigation;
    }
    &-nav-title {
        @include default-nav-title;
    }
}