@import 'variables';
@import 'mixins';

.np-req {
    &-page {
        background-color: $color-input;
        width:100vw;
        height:100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &-logo {
        @include square-image(5vh);
        margin:auto;
        display:inline-block;
    }
    &-header {
        font-weight: 500;
        font-size:1.3em;
        margin-bottom:2vh;
    }
    &-subheader {
        font-weight: 500;
        margin:2vw;
        text-align: center;
    }
}

li{
    list-style-type: none;
}

.results {
    @include default-results;
}

.delete-item {
    @include item-style(10px);
}

.add-item {
    @include item-style(22px);
}

.header{
    &-div {
        width:100vw;
        margin: 0 auto;
        margin-bottom: 2vh;
    }
    font-size: 1.4em;
    font-weight: 200;
}

.all-rest-subheaders {
    width:40vw;
    margin: 0 auto;
}

.r {
    &-navigation {
        @include default-navigation;
    }
    &-nav-title {
        @include default-nav-title;
    }
}