.find-rest-page{
    background-color: rgb(211,101,130,.19);
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{
    height:5vh;
    width:5vh;
    margin:auto;
}
.ti-header{
    margin-right:3vw;
}
.results{
    background-color:white;
    width:75vw;
}
.header-div{
    width:100vw;
}
.header{
    font-size: 1.4em;
    font-weight: 200;
}
.rest-header{
    font-weight: 500;
    font-size:1.3em;
}
.rest-subheader{
    font-weight: 500;
    margin:10px;
}
.navigation{
    border-bottom: 1px rgb(211,101,130,.54) solid;
    position: absolute;
    top:0;
    left:0;
    height:6vh;
    width:100vw;
    padding:1vh;
}
.nav-title{
    display: inline-block;
    font-size:1.5em;
    font-weight: 200;
    width:33vw;
    margin:auto;
    text-align: center;
}