@import 'variables';
@import 'mixins';

.rest {
    &-result {
        @include default-button(50vw, 1.3em);
        background-color:$color-input;
        margin:0 auto;
        margin-bottom:2vh;
    }
    &-text {
        padding-left:2vw;
        padding-right:2vw;
        border-right: 1px black solid;
    }

    &-text-under {
        padding-left:2vw;
        padding-right:2vw;
        border-right: 1px black solid;
        text-decoration-line: underline;
    }
    &-text-last {
        padding-left:2vw;
        padding-right:2vw;
    }
}
  
  .rx {
    background-color: rgb(163, 49, 49) !important;
    position: relative;
    left: 140%;
    float: right !important;
    text-align: right;
    font-weight: bold;
  }

