@import 'variables';

.account-des{
    float: center;
}

input{
    font-size: 1.0em;
    font-family: $font-stack;
    border: 1px $color-time solid;
}
.ti-text{
    font-weight:500;
    padding-left:10px;
    padding-right:10px;
}